@charset "UT-8";

header{
    margin-top: auto;
    padding-bottom:

}

body{
    text-align: center;

}


 div#title{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
 }

 main{
    
 }


footer{

    margin-top: 500px;
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 20px ;
    text-align: center;
}